<body style="margin-top: 15vh;">

<h1 style="margin-left: 20px; margin-top: 20px;">Rick and Morty API</h1>



<div style="text-align: center;">
  <h2>En esta api encontraras informacion sobre sobre los capitulos, Personajes y lugares de Rick and Morty</h2>
</div>

<div class="grid-container">
  <button (click)="navigateToEpisodes()">Episodios</button>
  <button
    (click)="navigateTo('/characters')"
    [disabled]="active === 0"
    [class.disabled]="active === 0">
    Personajes
  </button>
  <button
    (click)="navigateTo('/locations')"
    [disabled]="active === 0"
    [class.disabled]="active === 0">
    Lugares
  </button>
</div>




</body>
