<body style="margin-top: 15vh;">

<h1 style="margin-left: 20px; margin-top: 20px;">Rick and Morty API</h1>

<div style="text-align: center;">
  <h3>Detalle del Episodio</h3>
</div>

<div class="characters-container">
  <h2>Información del Episodio</h2>
<div class="grid-container">

  <div style="margin: 20px;">
    <p><strong>ID Episodio:</strong> 1</p>
    <p><strong>Nombre:</strong> Pilot</p>
    <p><strong>Episodio:</strong> S01E01</p>
    <p><strong>Fecha:</strong> December 2, 2013</p>
  </div>

  <div>
    <h3>Personajes que aparecen:</h3>
    <div class="character-card-container">
      <div class="character-card">
        <button class="character-button">Rick Sanchez</button>
      </div>
      <div class="character-card">
        <button class="character-button">Morty Smith</button>
      </div>
      <div class="character-card">
        <button class="character-button">Summer Smith</button>
      </div>
      <div class="character-card">
        <button class="character-button">Beth Smith</button>
      </div>
      <div class="character-card">
        <button class="character-button">Jerry Smith</button>
      </div>
      <div class="character-card">
        <button class="character-button">Birdperson</button>
      </div>
    </div>
  </div>
</div>
</div>
     <div class="BACK">
        <button class="character-button" (click)="goBack()">Atras</button>
      </div>
</body>
