<body style="margin-top: 15vh;">

<h1 style="margin-left: 20px; margin-top: 20px;">Rick and Morty API</h1>

<div style="text-align: center;">
  <h3>Detalle del Episodio</h3>
</div>

<div class="episodes-container">
  <h2>Información del Episodio</h2>

  <div *ngIf="loading" class="loading">
    Cargando episodio...
  </div>

  <div *ngIf="!loading && episode" class="grid-container">
    <div style="margin: 20px;">
      <p><strong>ID Episodio:</strong> {{ episode.id }}</p>
      <p><strong>Nombre:</strong> {{ episode.name }}</p>
      <p><strong>Episodio:</strong> {{ episode.episode }}</p>
      <p><strong>Fecha:</strong> {{ episode.air_date }}</p>
    </div>

    <div>
      <h3>Personajes que aparecen: ({{ episode.characters?.length || 0 }})</h3>
      <div class="character-card-container">
        <div *ngFor="let character of episode.characters" class="character-card">
          <button class="character-button">Personaje {{ character }}</button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="BACK">
  <button class="character-button" (click)="goBack()">Atras</button>
</div>

</body>
